- answer = "fine"
- values = ['and', 'band', 'sand']
h1 How are you?
h2=answer
h2=2*2
div
    h1 Well done!
    h2 thank you!
    div.inner-div
        ul
            each val in values
                li= val
    h3 Another header
