$primary: #3082d5;
$h1-size: 120px;

body {
    h1 {
    color: $primary;
    font-size: $h1-size;
    }

    .header {
        background-image: url("../img/test.jpg");
        background-repeat: no-repeat;
    }
    .new-block {
        background: #5a6268;

        h2 {
            color: #1e7e34;
        }
    }
}