$primary: #3082d5;
$h1-size: 120px;

body {
    #menu {
        background: #dbdbdb;
        padding: 15px 0;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin-bottom: 0;
            li {
                width: 100px;
                border: 1px solid #cecece;
                padding: 10px;
                background: #fff;
                margin: 0 20px;
            }
        }
    }
    #app {
        padding: 60px 0;
    }
    #footer {
        background: #424242;
        padding: 10px;
        color: #fff;
        p {
            margin-bottom: 0;
        }
    }
}