-
    const values = require('../js/index');

div.container
    div.row
        div.col-sm-12
            ul
                li
                    a Site A
                li
                    a Site b
            p= values.values
